[Desktop Entry]
Version=1.1
Terminal=false
Icon=pcbcalculator
Type=Application
Categories=Development;Electronics;
Keywords=KiCad;Printed circuit Board;PCB;Calculator
Exec=pcb_calculator
Name=PCB Calculator
GenericName=PCB Calculator
Comment=Calculator for various electronics-related computations
Comment[it]=Calcolatore per CAD e varie grandezze elettroniche
